img[id="communication0"] {
    height: 100%;
    margin: 0 auto;
    display: block;
}

img[id="communication1"] {
    height: 100%;
    margin: 0 auto;
    display: block;
}

img[id="communication2"] {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

img[id="communication3"] {
    height: 100%;
    margin: 0 auto;
    display: block;
}