.left_img {
    width: 45%;
    display: inline-block;
    margin-right: 3%;
    margin-left: 2%;
}

.right_img {
    width: 45%;
    display: inline-block;
    margin-right: -3%;
    margin-left: 3%;
}