img[id="implementation0"] {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
}

img[id="implementation1"] {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
}

img[id="implementation2"] {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
}

img[id="implementation3"] {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
}

img[id="implementation4"] {
    height: 100%;
    margin: 0 auto;
    display: block;
}