.icon_img {
    width: 100%;
    height: 100%;
}

img[id="hp0"] {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

img[id="hp1"] {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

img[id="hp2"] {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

img[id="hp3"] {
    height: 100%;
    margin: 0 auto;
    display: block;
}