.icon_img {
    width: inherit;
}

img[id="collaborations0"] {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

img[id="collaborations1"] {
    width: 100%;
    margin: 0 auto;
    display: block;
}

img[id="collaborations2"] {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}
