.fixed {
    background-color: black;
    color: #ffffff;
    font-size: 10px;
    font-weight: 200;
    position: fixed;
    bottom: 0;
    right: 2%;
    width: 15%;
    height: auto;
    border-radius: 15px;
    z-index: 999;
}
  
.close_button:focus {
    outline: none;
    box-shadow: none;
}

.close_button {
    color: white;
    background-color: black;
    font-size: 15px;
    border: 0;
}

.same {
    padding: 8px;
}

.toolbar_title, .arrow {
    text-align: center ;
    margin: 0px 0px;
    color: white;
    font-size: 19px;
    line-height: 20px;
}

.words {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    color: white;
    font-weight: 470;
    font-size: 14px;
}

.shortcut {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 3%;
    color: #C2C0FF;
    font-size: 10px;
    font-weight: 100;
    line-height: 105%;
    text-align: center;
}

.toolbar_options {
    width: 93%; 
    margin: auto; 
    border: solid black;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 3%;
}

.large_icon_btn {
    padding: 0.5rem 0.5rem;
}

.toolbar_read:after, .toolbar_size:after {
    content: "";
    display: table;
    clear: both;
}
