.scroll_to_top {
    position: absolute;
    float: right;
    background-color: black;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
    bottom: 100%;
    right: 0;
    border-radius: 10px;
    z-index: 1000;
    margin-bottom: 3px;
}

.button_div {
    color: white;
}

.arrow_button {
    width: 45px;
    height: 45px;
}

.arrow_button:hover {
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 
