@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.page_heading {
    font-size: var(--page-heading-size);
    font-weight: 600;
    color: var(--font-color);
    line-height: 105px;
    margin-left: 15px;
    height: auto;
}

.page_heading_colored {
    font-size: var(--page-heading-size);
    font-weight: 600;
    background-color: #f3ec78;
    background: var(--colored-heading-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    -webkit-border-image: var(--colored-heading-color) 1;
    border-image: var(--colored-heading-color) 1;
    border-bottom: 6px solid transparent;
    padding-bottom: 10px;
    line-height: 105px;
    margin-left: 15px;
}

.text_heading {
    font-size: var(--text-heading-size);
    font-weight: 500;
    color: var(--heading-color);
    border-bottom: 7px solid #E88A5F;
    padding-bottom: 10px;
}

.description {
    font-size: var(--description-size);
    font-weight: 500;
    color: var(--font-color);
    margin: 0 auto;
    margin-top: 3%;
    max-width: 90%;
    line-height: 170%;
    text-align: justify;
    text-justify: inter-word;
}

// for sections: 

.container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.text_div {
    margin: 0 40px;
}

.illustration {
    width: 90%;
    height: 450px;
    background: #C4C4C4;
    border-radius: 60px 60px 0 60px;
    margin: 60px 40px;
}

.figure_div {
    vertical-align: top;
    display: inline-block;
    margin: 0 auto;
    margin-top: 3%;
}

.figure_text {
    display: block;
    font-size: var(--main-page-heading-desc-size);
    font-weight: 500;
    color: var(--font-color);
    text-align: center;
}

.table, td, th {
    font-size: var(--description-size);
    font-weight: 500;
    color: var(--font-color);
    margin: 0 auto;
    line-height: 170%;
}