.icon_img {
    height: 100%;
    width: 100%;
}

img[id="hardware0"] {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

img[id="hardware1"] {
    width: 100%;
    margin: 0 auto;
    display: block;
}

img[id="hardware2"] {
    height: 100%;
    margin: 0 auto;
    display: block;
}