.icon_img {
    width: 100%;
    height: 100%;
}

img[id="model0"] {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

img[id="model1"] {
    width: 100%;
    margin: 0 auto;
    display: block;
}

img[id="model2"] {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

img[id="model3"] {
    height: 100%;
    margin: 0 auto;
    display: block;
}