.container {
    display: flex;
    flex-direction: column;
    // margin: 10px 0;
}

.header {
    display: flex;
    border: 2px solid #E88A5F;
    border-radius: 25px;
    margin-right: 10px;
    justify-content: center;
    padding: 0 10px;
    width: max-content;
    margin-left: -8.6%;
}

.title {
    display: block;
    color: var(--font-color);
    font-weight: 500;
    font-size: var(--footer-link-size);
    margin-right: 10px;
}

.close_button:focus {
    outline: none;
    box-shadow: none;
}

.close_button {
    display: inherit;
    color: var(--font-color);
    background-color: transparent;
    font-size: 15px;
    border: 0;
}

.arrow_button {
    width: 15px;
    height: 25px;
}

.arrow_button:hover {
    cursor: pointer;
}
