.icon_img {
    width: 100%;
    height: 100%;
}

.section_block {
    padding: 20px 0;
}

img[id="engineering0"] {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

img[id="engineering1"] {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

img[id="engineering2"] {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

img[id="engineering3"] {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

img[id="engineering4"] {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

img[id="engineering5"] {
    height: 100%;
    margin: 0 auto;
    display: block;
}