ul {
    list-style-type: "-";
  }

.illustration {
    width: 90%;
    height: 450px;
    background: #C4C4C4;
    border-radius: 60px 60px 0 60px;
    margin: 60px 40px;
}

.design_img {
    margin: auto;
    width: 90%;
    height: 90%;
    border-radius: 30px;
}

.list_heading {
    font-size: 25px;
    color: var(--heading-color);
    font-weight: 500;
    border-bottom: 7px solid #E88A5F;
    padding-bottom: 10px;
}

.sub_sub_heading {
    font-size: 20px;
    font-weight: 500;
    color: var(--heading-color);
    border-bottom: 0.2em solid #E88A5F;
    width: max-content;
    padding-top: 4%;
}