.icon_img {
    height: 100%;
    width: 100%;
}

img[id="safety0"] {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
}

img[id="safety1"] {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
}

img[id="safety2"] {
    height: 100%;
    margin: 0 auto;
    display: block;
}