.table, td, th {
    font-size: var(--description-size);
    font-weight: 500;
    color: var(--font-color);
    margin: 0 auto;
    line-height: 170%;
}

.crop {
    width: 50%;
    height: 15em;
    margin: 0 auto;
    overflow: hidden;
}

.cost_img {
    margin-left: -55%;
    margin-top: -7%
}