.modal {
    color: white;
    border-radius: 40px;
    div {
        background: #34394B;

        div {
            border-bottom: none;
        }
    }
}

.header {
    font-size: 25px;
}

.header_title {
    font-size: 50px;
    margin-left: 300px;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    // padding-top: 0;
}

.modal_img:hover {
    cursor: pointer;
}

.img_div {
    width: 290px;
    height: 290px;
    margin: auto;
    overflow: hidden;
}

.info_div {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.team_name {
    font-size: var(--main-page-sub-heading-size);
    font-weight: 400;
    margin-bottom: 20px;
    // margin: 20px 0;
}

.member_info {
    font-size: var(--footer-heading-size);
    font-weight: 400;
}