.carousel_slide {
    align-items: center;
    vertical-align: middle;
    height: fit-content;
}

.img_div {
    // width: 80%;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    margin: 0 50px;
    height: 290px;
}