html {
    --page-header-size: 70px;
    --text-header-size: 45px;
    --description-size: 30px;
    --footer-header-size: 18px;
    --footer-link-size: 16px;
}

.theme-light {
    --background-color: #FFFFFF;
    --sidebar-color: #F8F8FF;
    --font-color: #2F2F2F;
    --header-color: #4B56B3;
    --colored-header-color: var(--header-color);
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
    margin: 0;
}

.theme-dark {
    --background-color: #23242D;
    --sidebar-color: var(--background-color);
    --font-color: #FFFFFF;
    --header-color: #F9E3AB;
    --colored-header-color: linear-gradient(91.19deg, #F9E3AB 3.66%, #F5C592 25.2%, #EF928C 54.71%, #9293F7 93.59%);
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
    margin: 0;
}

html, #root {
    background-color: var(--background-color);
    padding-bottom: 0px;
    height: 100%;
    margin-top: -50px;
    margin-bottom: -50px;
}
