.formula_div {
    display: flex;
    color: var(--font-color);
    font-size: var(--description-size);
}

.formula_center {
    margin-top: 15px;
}

.formula_description {
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: var(--description-size);
}

.top{ 
    border-bottom: solid 1px;
    border-bottom-color: var(--font-color);
    display: inline-block;
    float: left;
}

.bottom{
    display: inline-block;
    clear: left;
    float: left;
}

.new_bottom {
    display: inline-block;
    clear: left;
    float: left;
    border-top: solid 1px;
    border-top-color: var(--font-color);
}