img[id="poc0"] {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

img[id="poc1"] {
    width: 100%;
    margin: 0 auto;
    display: block;
}

img[id="poc2"] {
    height: 100%;
    margin: 0 auto;
    display: block;
}

img[id="poc3"] {
    height: 100%;
    margin: 0 auto;
    display: block;
}