.icon_img {
    width: inherit;
}

img[id="education0"] {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
}

img[id="education1"] {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
}

img[id="education2"] {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
}